APP_ENV=dev
APP_SECRET=change_me_to_a_random_32_char_string

POSTGRES_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=secret
POSTGRES_DB=recommendation
DATABASE_URL="postgresql://app:secret@postgres:5432/recommendation?serverVersion=16&charset=utf8"

RABBITMQ_USER=user
RABBITMQ_PASS=password
MESSENGER_TRANSPORT_DSN=amqp://user:password@rabbit-mq:5672/%2f/messages

REDIS_URL=redis://redis:6379
